.column {
    display: grid;
    place-items: center;
    min-width: 400px;
}

.generator_table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.generator_tr, .generator_th {
    text-align: left;
    padding: 16px;
}

.generator_tr:nth-child(even) {
    background-color: rgba(112, 76, 182, 0.1);
}

.input_container{
    position:relative;
    margin-bottom:25px;
    min-width: 380px;
}

.input_container label{
    position:absolute;
    top: 0;
    left: 0;
    font-size:16px;
    color: black;
    transition: all 0.5s ease-in-out;
}

.input_container input{
    border:0;
    border-bottom:1px solid #555;
    background:transparent;
    width:100%;
    padding:8px 0 5px 0;
    font-size:16px;
    color: black;
}

.input_container input:focus{
    border:none;
    outline:none;
    border-bottom:1px solid #e74c3c;
}

.input_container input:focus ~ label,
.input_container input:valid ~ label{
    top:-12px;
    font-size:12px;

}
